.header {
  width: 100%;
  background-color: rgb(125, 180, 32);
  margin: 0px 0px;
  max-height: auto;
}

.header a {
	text-align: center;
	text-decoration: none;
}


.header .search-container {
  float: right;
  color: grey;
}

.header input[type=text] {
  padding: 6px 6px 10px 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.header .search-container button {
  
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header .search-container button:hover {
  background: #ccc;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #111;
}

.header form {
  position: relative;
  width: 300px;
  height: 46px;
  margin: 0 auto;
  background: #f5f5f5;
  margin-right: 20px;
}

.header input, button {
  border: none;
  outline: none;
  background: transparent;
}

.header input {
  width: 100%;
  padding-left: 15px;
}

.header button {
  height: 42px;
  width: 42px;
  top: 0;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.header button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: black;
}