.description {
	padding: 10px 15px;
	margin: 1% 17%;
	border: solid 2px;
	background-color: #f8fbff
}

a, a:active, a:visited { 
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

body {
	margin: 0px;
	padding: 0px;
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-height: 100%;
}

.content_nav {
	text-align: center;
	margin: 10px auto;	
}

.content_nav a {
	margin: 0px 40px;
}